.item {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.label {
  display: flex;
  gap: 6px;
  cursor: pointer;

  input {
    cursor: pointer;
  }

  .disabled {
    color: #d4d4d4;
  }
}
